h1,
h2,
h3,
h4 {
    margin: 0;
}

body {
    background-color: black;
    color: white;
}


/**Header**/

header {
    background-image: url("../images/portada.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    text-align: center;
}

header h1 {
    padding-top: 7vh;
    font-size: 5vw;
}

.data {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vw;
    width: 30%;
}

.data h5 {
    font-size: 2.5vw;
}

.sombreado {
    background: rgba(0, 0, 0, 0.658);
}

.data i {
    color: rgb(31, 74, 194);
    margin-right: 0.5vw;
}


/**Section skills**/

section {
    background: rgb(22, 22, 22);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    width: 80%;
}

section h4 {
    font-weight: lighter;
}

.languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.language {
    background: rgb(3, 22, 75);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0.5vw 1vw 0.5vw 1vw;
}
.section_skills_future
{
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.languages_future {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
}
.language_future
{
    background-color:  rgb(22, 228, 149);
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 20% 70%;
}

.grid {
    width: 70%;
}

.grid h3 {
    font-size: 2vw;
    padding-top: 0.7vw;
    padding-left: .5vw;
    float: left;
}

article .grid img {
    width: 100%;
}

.level {}

.barras {
    margin-top: 1.5vw;
}

.no {
    border-right: 5px solid white;
}

.yes {
    border-right: 5px solid rgb(22, 228, 149);
}

.barra1 {
    height: 1vh;
    margin-left: 0.5vw;
    padding-top: 0.2vw;
}

.barra2 {
    height: 1.5vh;
    margin-left: 0.5vw;
    padding-top: 0.6vw;
}

.barra3 {
    height: 2vh;
    margin-left: 0.5vw;
    padding-top: 1.2vw;
}


/**Projects**/

.section_proyects {
    padding-bottom: 2vw;
}

.page {
    background: rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
    color: black;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
}

.page img {
    transition: all 0.3s;
    width: 100%;
}

.page img:hover {
    padding-right: 2vw;
    transform: scale(1.2);
}

.explanation {
    padding-left: 2vw;
}

.explanation h5 {
    padding-top: 1vw;
}

.explanation a {
    display: block;
    margin-top: 4vw;
}

.container_real {
    display: flex;
    justify-content: space-between;
}

.container_real span {
    background-color: rgb(23, 255, 166);
    padding: 0.5vw 0.5vw 0vw 0.5vw;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
}

a button {
    background: rgb(3, 22, 75);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    color: white;
    font-size: 1.5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    transition: all 0.3s;
}

a button:hover {
    background: rgb(10, 36, 107);
    transform: scale(1.2);
}


/* ver más*/

.ver_mas {
    background-color: rgb(22, 228, 149);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    margin-top: 2vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    text-align: center;
    transition: all 0.3s;
}
.desarrolando_dia
{
    background-color: rgb(22, 228, 149);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    margin-top: 2vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.3s;
}
.desarrolando_dia span {
    font-size: 2vw;
    font-family: 'poppins';
    font-weight: normal;
}

.ver_mas:hover {
    background-color: rgb(18, 206, 134);
    transform: scale(1.1);
}

.ver_mas span {
    font-size: 2vw;
    font-family: 'poppins';
    font-weight: normal;
}

.ver_mas i {
    float: right;
    font-size: 2vw;
    margin-top: .5vw;
    transition: all 0.3s;
}

.rotate {
    transform: rotate(360deg);
}


/* Email */

.section_emails {
    background: rgb(83, 19, 19);
    background: linear-gradient(29deg, rgba(2, 0, 36, 1) 0%, rgba(9, 40, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw 2vw 1vw 2vw;
    width: 100%;
}

label {
    font-size: 1.5vw;
}

form {
    margin-top: 1.5vw;
}

.formE {
    background: rgb(22, 22, 22);
    border: 2px solid rgb(22, 22, 22);
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    transition: all 0.3s;
    width: 100%;
}

.formE:focus {
    background: rgb(22, 22, 22);
    border: 2px solid rgb(22, 22, 22);
    outline: none;
    transform: scale(1.03);
}

.form-control {
    background: rgb(22, 22, 22);
    border: 2px solid rgb(22, 22, 22);
    color: white;
    height: 20%;
    padding-left: 1vw;
    width: 100%;
    transition: all 0.3s;
}

.formM {
    height: 15vw;
}

.form-control:focus {
    background: rgb(22, 22, 22);
    border: 2px solid rgb(22, 22, 22);
    color: white;
    outline: none;
    transform: scale(1.1);
}

.centrar {
    text-align: center;
}

.submit {
    background: rgb(3, 22, 75);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    color: white;
    font-size: 1.5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    transition: all 0.3s;
    width: 50%;
}

footer {
    background: rgb(22, 22, 22);
    font-size: 2vw;
    margin-top: 2vw;
    padding: 1vw 0.5vw 1vw 0.5vw;
    text-align: left;
}

.container_footer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container_footer img {
    border-radius: 50%;
    margin-left: 12vw;
    width: 50%;
}

footer i {}

footer a i {
    color: white;
}

footer span {
    padding-top: 2vw;
    padding-left: 1vw;
}

footer h4 {
    padding-bottom: 1vw;
}